{%extends 'autoforms/base.html'%}
{% load i18n %}
{%block path%}
&rsaquo;&nbsp;fill form
{%endblock%}
{%block extrastyle%}{{block.super}}
{{dform.media}}
{%if is_popup %}
<style type="text/css">
#container {
min-width: 600px;
padding: 0px;
position: relative;
width: 100%;
}
.disable {
color:red;
}
</style>
{%endif%}
{%endblock%}
{%block content%}
<div id="content-main">
<form method="POST" action="" id="form_form">
<div >
    <fieldset class="module aligned ">
        {% csrf_token %}
        <input type="hidden" name="is_popup" value="{{is_popup}}"/>
        {% include 'autoforms/fields.html' %}
    </fieldset>
    {% if form.enable %}
        <input type="submit" value="{%trans 'Submit'%}"/>
    {% else %}
    <p class="disable">{% trans 'The form was disabled,you can not submit the form now.' %}</p>
    {% endif %}
</div>
</form>
</div>
{%endblock%}
