{%extends 'autoforms/base.html'%}
{% load i18n %}
{%block extrastyle%}{{block.super}}
{{dform.media}}
{%if is_popup %}
<style type="text/css">
#container {
min-width: 600px;
padding: 0px;
position: relative;
width: 100%;
}
</style>
{%endif%}
{%endblock%}
{%block path%}
&rsaquo;&nbsp;fill form
{%endblock%}
{%block content%}
<div id="content-main">
{% blocktrans %}
    <p>Done ! Thank you for filling the  Form!</p>
    <p>This form is powered by <a href="http://f.jeffkit.info">AutoForms</a>.</p>
{% endblocktrans %}
</div>
{%endblock%}
