{%extends 'autoforms/base.html'%}
{%block title%}Auto form preview{%endblock%}
{%block path%}
&rsaquo;&nbsp;preview form
{%endblock%}
{%block content%}
	{%if forms%}
	<h1>Choose a form to preview</h1>
	<form action="" method="GET">
	<select id="" name="id">
	  <option value="">------</option>
	  {%for f in forms%}
	  <option value="{{f.id}}">{{f.name}}</option>
	  {%endfor%}
	</select>
	<input type="submit" value="preview"/>
	</form>
	{%else%}
	<h1>{{dform.name}}</h1>
	  {%if edit%}
      <form method="POST" action="{%url autoforms.views.preview%}{{id}}/">
          {% csrf_token %}
		 {{form.as_p}}
		 <input type="submit" value="submit"/>
         <a href="{%url autoforms.views.preview%}">Back</a>
		</form>
	  {%else%}
	  <p>Data of The form you submited "{{dform.name}}" are show as bellow:</p>
	  <table>
		<thead>
		  <tr>
		  	<th>name</th>
		  	<th>value</th>
		  </tr>
		</thead>
		<tbody>
			{%for key,value in form.cleaned_data.items%}
			<tr>
			  <td>{{key}}</td>
			  <td>{{value}}</td>
			</tr>
			{%endfor%}
		</tbody>
	  </table>
      <a href="{%url autoforms.views.preview%}">Back</a>
	  {%endif%}
	{%endif%}
{%endblock%}
